@{
    ViewBag.Title = "About";
}


<p>Solamente es un sistema de ingreso de roles y empleados utilizando MVC en ASP.NET, para la parte de Backend utilice una base de datos sql server con procedimientos almacenados.</p>
